{
  "name": "moodle-takeda",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "jade",
      "jade/mod-7"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/styles.scss",
      "imports": [
        "scss/elements/_fonts.scss",
        "scss/elements/_assets.scss",
        "scss/elements/_mixins.scss",
        "scss/elements/_moodle-hide-elements.scss",
        "scss/elements/_banner-home.scss",
        "scss/elements/_menu.scss",
        "scss/elements/_video.scss",
        "scss/elements/_typography.scss",
        "scss/elements/_footer.scss",
        "scss/elements/_content-box.scss",
        "scss/elements/_lightbox.scss",
        "scss/elements/_tabs.scss",
        "scss/elements/_progress.scss",
        "scss/elements/_material-modulo.scss",
        "scss/elements/_buttons.scss",
        "scss/elements/_paginador.scss",
        "scss/elements/_tables.scss",
        "scss/elements/_resaltado.scss",
        "scss/elements/_accordion.scss"
      ]
    },
    {
      "path": "jade/home/home.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-0/001 carta UEB.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-0/002 carta takeda.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-0/003 directrices.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-0/004 cronograma.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-1/001 introduccion.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-1/002 Patogenesis del Linfoma Hodgkin.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-1/003 Patogenesis de los linfomas de celulas T perifericas.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-1/004 Patogenesis de la micosis fungoides y el sindrome de Sezary.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-1/005 referencias.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-1/006 documento pdf.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-1/007 documento pdf.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-2/001 introduccion.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-2/002 tipos de muestras.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-2/003 aspectos clinicos.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-2/004 aspectos fundamentales.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-2/005 referencias.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-3/001 tratamiento.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-3/002 tratamiento.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-3/003 tratamiento.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-3/004 linfomas t.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-3/005 linfomas cutaneos.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-3/006 nuevos antifolatos.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-3/007 referencias.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-4/001 fisipatologia.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-4/002 formacion.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-4/003 definiciones.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-4/004 evolucion clonal.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-4/005 subdivision.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-4/006 eventos secundarios.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-4/007 microambiente.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-4/008 conclusiones.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-4/009 bibliografia.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-4/010 documento pdf.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-4/011 documento pdf.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-4/012 documento pdf.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-4/013 documento pdf.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-5/001 Epidemiologia.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-5/002 Historia de los hitos mas importantes de diagnostico.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-5/003 Diagnostico de Mieloma Multiple.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-5/004 Manifestaciones clinicas.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-5/005 Modelo de historia clinica para la descripcion diagnostica inicial del MM.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-5/006 Pruebas diagnosticas de Mieloma Multiple.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-5/007 Criterios diagnosticos.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-5/008 Diagnostico diferencial.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-5/009 bibliografia.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-5/010 documento pdf.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-6/001 historia.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-6/002 inhibidores.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-6/003 tratamiento de primera linea.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-6/004 pacientes.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-6/005 evaluacion.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-6/006 tratamiento de rescate.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-6/007 medicamentos.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-6/008 pronostico.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-6/009 bibliografia.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-6/010 documento pdf.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-7/001 lectura.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-7/002 lectura.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-7/003 lectura.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-7/004 lectura.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-7/005 lectura.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-7/006 lectura.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/mod-7/007 excel.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    },
    {
      "path": "jade/template/000 template.jade",
      "imports": [
        "jade/mixins.jade",
        "jade/includes/header.jade",
        "jade/includes/js-body-ends.jade"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7883,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}