include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulo 1
				+banner
			
				//- menu
				+menu
			
				h2 Módulo 1 / <span>Patogénesis del Linfoma Hodgkin, linfoma T periférico y linfoma cutáneo</span>
				
				h3 5. Referencias
				
				ol
					li Swerdlow S, Campo E, Lee Harris N, Jaffe E. WHO Classification of Tumours of Hematopoietic and Lymphoid Tissues. Revised 4th Edition. Lyon: IARC; 2017. 
					li Mathas S, Hartmann S, Küppers R. Hodgkin lymphoma: Pathology and biology. Semin Hematol. 2016 Jul;53(3):139–47. 
					li Fend F. Clasical Hodgkin’s lymphoma and related lesions. In: Hematopatology. Second edition. Elsevier; 2017. p. 525–45. 
					li Kuppers R, Rajewsky K, Zhao M, Simons G, Laumann R, Fischer R, et al. Hodgkin disease: Hodgkin and Reed-Sternberg cells picked from histological sections show clonal immunoglobulin gene rearrangements and appear to be derived from B cells at various stages of development. Proc Natl Acad Sci. 1994 Nov 8;91(23):10962–6. 
					li Honjo T. Molecular biology of b cells. Boston, MA: Elsevier; 2014. 
					li Maraﬁoti T, Hummel M, Foss H-D, Laumen H, Korbjuhn P, Anagnostopoulos I, et al. Hodgkin and Reed-Sternberg cells represent an expansion of a single clone originating from a germinal center B-cell with functional immunoglobulin gene rearrangements but defective immunoglobulin transcription. 2000;95(4):9. 
					li Borchmann S, Engert A. The genetics of Hodgkin lymphoma: an overview and clinical implications. Curr Opin Oncol. 2017 Sep;29(5):307–14. 
					li Tiacci E, Ladewig E, Schiavoni G, Penson A, Fortini E, Pettirossi V, et al. Pervasive mutations of JAK-STAT pathway genes in classical Hodgkin lymphoma. Blood. 2018 May 31;131(22):2454–65. 
					li Paydas S, Bağır E, Seydaoglu G, Ercolak V, Ergin M. Programmed death-1 (PD-1), programmed death-ligand 1 (PD-L1), and EBV-encoded RNA (EBER) expression in Hodgkin lymphoma. Ann Hematol. 2015 Sep;94(9):1545–52. 
					li Roemer MGM, Advani RH, Ligon AH, Natkunam Y, Redd RA, Homer H, et al. PD-L1 and PD-L2 Genetic Alterations Define Classical Hodgkin Lymphoma and Predict Outcome. J Clin Oncol. 2016 Aug 10;34(23):2690–7. 
					li Wang X, Lupardus P, LaPorte SL, Garcia KC. Structural Biology of Shared Cytokine Receptors. Annu Rev Immunol. 2009 Apr;27(1):29–60. 
					li O’Shea JJ, Holland SM, Staudt LM. JAKs and STATs in Immunity, Immunodeficiency, and Cancer. N Engl J Med. 2013 Jan 10;368(2):161–70. 
					li Skinnider BF. Signal transducer and activator of transcription 6 is frequently activated in Hodgkin and Reed-Sternberg cells of Hodgkin lymphoma. Blood. 2002 Jan 15;99(2):618–26. 
					li Bendall HH, Sikes ML, Oltz EM. Transcription Factor NF- B Regulates Ig Light Chain Gene Rearrangement. J Immunol. 2001 Jul 1;167(1):264–9. 
					li Weniger MA, Küppers R. NF-κB deregulation in Hodgkin lymphoma. Semin Cancer Biol. 2016 Aug;39:32–9. 
					li Liu WR, Shipp MA. Signaling pathways and immune evasion mechanisms in classical Hodgkin lymphoma. Blood. 2017 Nov 23;130(21):2265–70. 
					li Younes A, Santoro A, Shipp M, Zinzani PL, Timmerman JM, Ansell S, et al. Nivolumab for classical Hodgkin’s lymphoma after failure of both autologous stem-cell transplantation and brentuximab vedotin: a multicentre, multicohort, single-arm phase 2 trial. Lancet Oncol. 2016 Sep;17(9):1283–94. 
					li Xu-Monette ZY, Zhou J, Young KH. PD-1 expression and clinical PD-1 blockade in B-cell lymphomas. Blood. 2017 Nov 8;blood-2017-07-740993. 
					li Steidl C, Lee T, Shah SP, Farinha P, Han G, Nayar T, et al. Tumor-Associated Macrophages and Survival in Classic Hodgkin’s Lymphoma. N Engl J Med. 2010 Mar 11;362(10):875–85. 
					li Carey CD, Gusenleitner D, Lipschitz M, Roemer MGM, Stack EC, Gjini E, et al. Topological analysis reveals a PD-L1-associated microenvironmental niche for Reed-Sternberg cells in Hodgkin lymphoma. Blood. 2017 Nov 30;130(22):2420–30. 
					li International Agency for Research on Cancer, Weltgesundheitsorganisation, editors. IARC monographs on the evaluation of carcinogenic risks to humans, volume 100 B, biological agents: this publication represents the views and expert opinions of an IARC Working Group on the Evaluation of Carcinogenic Risks to Humans, which met in Lyon, 24 February - 03 March 2009. Lyon: IARC; 2012. 475 p. 
					li Carbone A, Gloghini A, Caruso A, De Paoli P, Dolcetti R. The impact of EBV and HIV infection on the microenvironmental niche underlying Hodgkin lymphoma pathogenesis: The impact of EBV and HIV on CHL pathogenesis. Int J Cancer. 2017 Mar 15;140(6):1233–45. 
					li Vardhana S, Younes A. The immune microenvironment in Hodgkin lymphoma: T cells, B cells, and immune checkpoints. Haematologica. 2016 Jul 1;101(7):794–802. 
					li Bashey A, Medina B, Corringham S, Pasek M, Carrier E, Vrooman L, et al. CTLA4 blockade with ipilimumab to treat relapse of malignancy after allogeneic hematopoietic cell transplantation. Blood. 2008 Sep 12;113(7):1581–8. 
					li Zhou J, Bashey A, Zhong R, Corringham S, Messer K, Pu M, et al. CTLA-4 Blockade following Relapse of Malignancy after Allogeneic Stem Cell Transplantation Is Associated with T Cell Activation But Not with Increased Levels of T Regulatory Cells. Biol Blood Marrow Transplant. 2011 May;17(5):682–92. 
					li International T-Cell Lymphoma Project. International Peripheral T-Cell and Natural Killer/T-Cell Lymphoma Study: Pathology Findings and Clinical Outcomes. J Clin Oncol. 2008 Sep;26(25):4124–30. 
					li Morgensztern D, Walker GR, Koniaris LG, Lossos IS. Lack of survival improvement in patients with peripheral T-cell lymphoma: a Surveillance, Epidemiology, and End Results analysis. Leuk Lymphoma. 2011 Feb;52(2):194–204. 
					li Jaffe ES, Arber DA, Campo E, Harris NL, Quintanilla-Martinez L, editors. Hematopathology. Second edition. Philadelphia, PA: Elsevier; 2017. 1199 p. 
					li Pileri SA, Piccaluga PP. New molecular insights into peripheral T cell lymphomas. J Clin Invest. 2012 Oct 1;122(10):3448–55. 
					li de Leval L, Bisig B, Thielen C, Boniver J, Gaulard P. Molecular classification of T-cell lymphomas. Crit Rev Oncol Hematol. 2009 Nov;72(2):125–43. 
					li Piccaluga PP, Agostinelli C, Califano A, Rossi M, Basso K, Zupo S, et al. Gene expression analysis of peripheral T cell lymphoma, unspecified, reveals distinct profiles and new potential therapeutic targets. J Clin Invest. 2007 Mar 1;117(3):823–34. 
					li Iqbal J, Wright G, Wang C, Rosenwald A, Gascoyne RD, Weisenburger DD, et al. Gene expression signatures delineate biological and prognostic subgroups in peripheral T-cell lymphoma. Blood. 2014 May 8;123(19):2915–23. 
					li Fujisawa M, Chiba S, Sakata-Yanagimoto M. Recent Progress in the Understanding of Angioimmunoblastic T-cell Lymphoma. J Clin Exp Hematop. 2017;57(3):109–19. 
					li Querfeld C, Zain J, Rosen ST, editors. T-Cell and NK-Cell Lymphomas: From Biology to Novel Therapies [Internet]. Cham: Springer International Publishing; 2019 [cited 2019 Feb 3]. (Cancer Treatment and Research; vol. 176).
						a(href='http://link.springer.com/10.1007/978-3-319-99716-2' target='_blank') Available from: http://link.springer.com/10.1007/978-3-319-99716-2
					li Hapgood G, Savage KJ. The biology and management of systemic anaplastic large cell lymphoma. Blood. 2015 Jul 2;126(1):17–25. 
					li Cao Z, Gao Q, Fu M, Ni N, Pei Y, Ou W. Anaplastic lymphoma kinase fusions: Roles in cancer and therapeutic perspectives (Review). Oncol Lett [Internet]. 2018 Dec 20 [cited 2019 Feb 3]; Available from:
						a(href='http://www.spandidos-publications.com/10.3892/ol.2018.9856' target='_blank') http://www.spandidos-publications.com/10.3892/ol.2018.9856
					li Feldman AL, Dogan A, Smith DI, Law ME, Ansell SM, Johnson SH, et al. Discovery of recurrent t(6;7)(p25.3;q32.3) translocations in ALK-negative anaplastic large cell lymphomas by massively parallel genomic sequencing. Blood. 2011 Jan 20;117(3):915–9. 
					li Wilcox RA. Cutaneous T-cell lymphoma: 2017 update on diagnosis, risk-stratification, and management: WILCOX. Am J Hematol. 2017 Oct;92(10):1085–102. 
					li Willemze R, Cerroni L, Kempf W, Berti E, Facchetti F, Swerdlow SH, et al. The 2018 update of the WHO-EORTC classification for primary cutaneous lymphomas. Blood. 2019 Jan 11;blood-2018-11-881268. 
					li Aires DJ, Yoshida M, Richardson SK, Bai M, Liu L, Moreno R, et al. T-cell trafficking plays an essential role in tumor immunity. Lab Invest. 2019 Jan;99(1):85–92. 
					li Kupper TS, Fuhlbrigge RC. Immune surveillance in the skin: mechanisms and clinical consequences. Nat Rev Immunol. 2004 Mar;4(3):211–22. 
					li Collin M, Milne P. Langerhans cell origin and regulation: Curr Opin Hematol. 2016 Jan;23(1):28–35. 
					li Doebel T, Voisin B, Nagao K. Langerhans Cells – The Macrophage in Dendritic Cell Clothing. Trends Immunol. 2017 Nov;38(11):817–28. 
					li Elenitoba-Johnson KSJ, Wilcox R. A new molecular paradigm in mycosis fungoides and Sézary syndrome. Semin Diagn Pathol. 2017 Jan;34(1):15–21. 
					li Kohnken R, Mishra A. MicroRNAs in Cutaneous T-Cell Lymphoma: The Future of Therapy. J Invest Dermatol [Internet]. 2019 Jan [cited 2019 Feb 9]; Available from:
						a(href='https://linkinghub.elsevier.com/retrieve/pii/S0022202X18328161' target='_blank') https://linkinghub.elsevier.com/retrieve/pii/S0022202X18328161		
						
				//- Progreso modulo
				+progreso-modulo('progreso100')

						
				
	//- Material modulo
	+material-modulo('material-mod-1')
							
	//- footer section			
	+footer-interno
	
	//- codigo section			
	+codigo-modulo-1
	
	//- pagination
	+paginador('https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=291686', 'available', 'Anterior', '#', 'disabled', 'Siguiente')
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			