include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulo 1
				+banner
			
				//- menu
				+menu
			
				h2 Módulo 1 / <span>Patogénesis del Linfoma Hodgkin, linfoma T periférico y linfoma cutáneo</span>
				
				h3 Material PDF
				
				div.banner-video.wow.fadeInUp
					div.span12
						div#video
							div.embed-container
								iframe(src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/EPOC-astrazeneca/pdf/mod1/Modulo-1-Patogenesis-Linfoma.pdf" frameborder="0" allowfullscreen)


							
	//- footer section			
	+footer-interno
	
	//- codigo section			
	+codigo-modulo-1
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			