include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content & 1
div.curso-cc
		
	div.container-fluid
		div.row-fluid
	
			div.content-cc
			
				//- banner
				+banner
						
				//- menu
				+menu
			
				p Bienvenidos al Diplomado Virtual Mieloma - Linfoma: "Retos en diagnóstico y terapias novedosas", para comenzar seleccione el tema a estudiar en el menú superior.
	
	//- footer section			
	+footer

	
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			