include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulo 1
				+banner
			
				//- menu
				+menu
				
				//- titulo
				+titulo-modulo-6
				
				h3 Referencias
				
				ol
					li Koshy M, Fairchild A, Son CH, Mahmood U. Improved survival time trends in Hodgkin’s lymphoma. Cancer Med [Internet]. 2016 Jun;5(6):997–1003. Available from:  
						a(href='http://doi.wiley.com/10.1002/cam4.655' target='_blank')   http://doi.wiley.com/10.1002/cam4.655
					li Cheson BD, Fisher RI, Barrington SF, Cavalli F, Schwartz LH, Zucca E, et al. Recommendations for Initial Evaluation, Staging, and Response Assessment of Hodgkin and Non-Hodgkin Lymphoma: The Lugano Classification. J Clin Oncol [Internet]. 2014 Aug 11 [cited 2014 Aug 12];32(27):3059–68. Available from:  
						a(href='http://jco.ascopubs.org/cgi/doi/10.1200/JCO.2013.54.8800' target='_blank')  http://jco.ascopubs.org/cgi/doi/10.1200/JCO.2013.54.8800
					li Noordijk EM, Carde P, Dupouy N, Hagenbeek A, Krol ADG, Kluin-Nelemans JC, et al. Combined-Modality Therapy for Clinical Stage I or II Hodgkin’s Lymphoma: Long-Term Results of the European Organisation for Research and Treatment of Cancer H7 Randomized Controlled Trials. J Clin Oncol [Internet]. 2006 Jul;24(19):3128–35. Available from:  
						a(href='http://ascopubs.org/doi/10.1200/JCO.2005.05.2746' target='_blank')  http://ascopubs.org/doi/10.1200/JCO.2005.05.2746
					li Engert A, Franklin J, Eich HT, Brillant C, Sehlen S, Cartoni C, et al. Two Cycles of Doxorubicin, Bleomycin, Vinblastine, and Dacarbazine Plus Extended-Field Radiotherapy Is Superior to Radiotherapy Alone in Early Favorable Hodgkin’s Lymphoma: Final Results of the GHSG HD7 Trial. J Clin Oncol [Internet]. 2007 Aug 10;25(23):3495–502. Available from:  
						a(href='http://ascopubs.org/doi/10.1200/JCO.2006.07.0482' target='_blank')  http://ascopubs.org/doi/10.1200/JCO.2006.07.0482
					li Magrath I. The lymphoid neoplasms. 3th Editio. London; 2010. 
					li Aleman BMP, van den Belt-Dusebout AW, De Bruin ML, van ’t Veer MB, Baaijens MHA, Boer JP De, et al. Late cardiotoxicity after treatment for Hodgkin lymphoma. Blood [Internet]. 2007 Mar 1;109(5):1878–86. Available from:  
						a(href='http://www.bloodjournal.org/cgi/doi/10.1182/blood-2006-07-034405' target='_blank') http://www.bloodjournal.org/cgi/doi/10.1182/blood-2006-07-034405
					li van Nimwegen FA, Schaapveld M, Janus CPM, Krol ADG, Petersen EJ, Raemaekers JMM, et al. Cardiovascular Disease After Hodgkin Lymphoma Treatment. JAMA Intern Med [Internet]. 2015 Jun 1;175(6):1007. Available from:  
						a(href='http://archinte.jamanetwork.com/article.aspx?doi=10.1001/jamainternmed.2015.1180' target='_blank') http://archinte.jamanetwork.com/article.aspx?doi=10.1001/jamainternmed.2015.1180
					li Schaapveld M, Aleman BMP, van Eggermond AM, Janus CPM, Krol ADG, van der Maazen RWM, et al. Second Cancer Risk Up to 40 Years after Treatment for Hodgkin’s Lymphoma. N Engl J Med [Internet]. 2015;373(26):2499–511. Available from:  
						a(href='http://www.ncbi.nlm.nih.gov/pubmed/25671249%5Cnhttp://www.nejm.org/doi/abs/10.1056/NEJMoa1505949' target='_blank') http://www.ncbi.nlm.nih.gov/pubmed/25671249%5Cnhttp://www.nejm.org/doi/abs/10.1056/NEJMoa1505949
					li van Leeuwen-Segarceanu EM, Bos WW, Dorresteijn LDA, Rensing BJWM, der Heyden JAS van, Vogels OJM, et al. Screening Hodgkin lymphoma survivors for radiotherapy induced cardiovascular disease. Cancer Treat Rev [Internet]. 2011 Aug;37(5):391–403. Available from:  
						a(href='https://linkinghub.elsevier.com/retrieve/pii/S030573721000215X' target='_blank') https://linkinghub.elsevier.com/retrieve/pii/S030573721000215X
					li Engert A, Horning SJ, editors. Hodgkin Lymphoma [Internet]. Berlin, Heidelberg: Springer Berlin Heidelberg; 2011. Available from:  
						a(href='http://link.springer.com/10.1007/978-3-642-12780-9' target='_blank') http://link.springer.com/10.1007/978-3-642-12780-9
					li Bonadonna G, Bonfante V, Viviani S, Di Russo A, Villani F, Valagussa P. ABVD Plus Subtotal Nodal Versus Involved-Field Radiotherapy in Early-Stage Hodgkin’s Disease: Long-Term Results. J Clin Oncol [Internet]. 2004 Jul 15;22(14):2835–41. Available from:  
						a(href='http://ascopubs.org/doi/10.1200/JCO.2004.12.170' target='_blank') http://ascopubs.org/doi/10.1200/JCO.2004.12.170
					li Depaus J, Delcourt A, André M. Therapeutic recommendations for early stage Hodgkin lymphomas. Br J Haematol [Internet]. 2019 Jan;184(1):9–16. Available from:  
						a(href='http://doi.wiley.com/10.1111/bjh.15623' target='_blank') http://doi.wiley.com/10.1111/bjh.15623
					li Fermé C, Eghbali H, Meerwaldt JH, Rieux C, Bosq J, Berger F, et al. Chemotherapy plus Involved-Field Radiation in Early-Stage Hodgkin’s Disease. N Engl J Med [Internet]. 2007 Nov 8;357(19):1916–27. Available from:  
						a(href='http://www.nejm.org/doi/abs/10.1056/NEJMoa064601' target='_blank')  http://www.nejm.org/doi/abs/10.1056/NEJMoa064601
					li Engert A, Plütschow A, Ph D, Eich HT, Lohri A, Dörken B, et al. Reduced Treatment Intensity in Patients with Early-Stage Hodgkin’s Lymphoma. N Engl J Med. 2010;363:640–52. 
					li Arakelyan N, Jais J-P, Delwail V, Brière J, Moles-Moreau M-P, Sénécal D, et al. Reduced versus full doses of irradiation after 3 cycles of combined doxorubicin, bleomycin, vinblastine, and dacarbazine in early stage Hodgkin lymphomas. Cancer [Internet]. 2010 Sep 1;116(17):4054–62. Available from:  
						a(href='http://doi.wiley.com/10.1002/cncr.25295' target='_blank') http://doi.wiley.com/10.1002/cncr.25295
					li Behringer K, Goergen H, Hitz F, Zijlstra JM, Greil R, Markova J, et al. Omission of dacarbazine or bleomycin, or both, from the ABVD regimen in treatment of early-stage favourable Hodgkin’s lymphoma (GHSG HD13): an open-label, randomised, non-inferiority trial. Lancet [Internet]. 2015 Apr;385(9976):1418–27. Available from:  
						a(href='https://linkinghub.elsevier.com/retrieve/pii/S0140673614614690' target='_blank') https://linkinghub.elsevier.com/retrieve/pii/S0140673614614690
					li Radford J, Illidge T, Counsell N, Hancock B, Pettengell R, Johnson P, et al. Results of a Trial of PET-Directed Therapy for Early-Stage Hodgkin’s Lymphoma. N Engl J Med [Internet]. 2015;372(17):1598–607. Available from:  
						a(href='http://www.nejm.org/doi/abs/10.1056/NEJMoa1408648' target='_blank') http://www.nejm.org/doi/abs/10.1056/NEJMoa1408648
					li André MPE, Girinsky T, Federico M, Reman O, Fortpied C, Gotti M, et al. Early Positron Emission Tomography Response–Adapted Treatment in Stage I and II Hodgkin Lymphoma: Final Results of the Randomized EORTC/LYSA/FIL H10 Trial. J Clin Oncol [Internet]. 2017 Jun;35(16):1786–94. Available from:  
						a(href='http://ascopubs.org/doi/10.1200/JCO.2016.68.6394' target='_blank') http://ascopubs.org/doi/10.1200/JCO.2016.68.6394
					li Eich HT, Diehl V, Görgen H, Pabst T, Markova J, Debus J, et al. Intensified chemotherapy and dose-reduced involved-field radiotherapy in patients with early unfavorable Hodgkin’s lymphoma: final analysis of the German Hodgkin Study Group HD11 trial. J Clin Oncol [Internet]. 2010 Sep 20 [cited 2014 Feb 20];28(27):4199–206. Available from:  
						a(href='http://www.ncbi.nlm.nih.gov/pubmed/20713848' target='_blank') http://www.ncbi.nlm.nih.gov/pubmed/20713848
					li von Tresckow B, Plütschow A, Fuchs M, Klimm B, Markova J, Lohri A, et al. Dose-Intensification in Early Unfavorable Hodgkin’s Lymphoma: Final Analysis of the German Hodgkin Study Group HD14 Trial. J Clin Oncol [Internet]. 2012 Mar 20;30(9):907–13. Available from:  
						a(href='http://ascopubs.org/doi/10.1200/JCO.2011.38.5807' target='_blank') http://ascopubs.org/doi/10.1200/JCO.2011.38.5807
					li Fermé C, Thomas J, Brice P, Casasnovas O, Vranovsky A, Bologna S, et al. ABVD or BEACOPP baseline along with involved-field radiotherapy in early-stage Hodgkin Lymphoma with risk factors: Results of the European Organisation for Research and Treatment of Cancer (EORTC)–Groupe d’Étude des Lymphomes de l’Adulte (GELA) H9-U inter. Eur J Cancer [Internet]. 2017 Aug;81:45–55. Available from:  
						a(href='https://linkinghub.elsevier.com/retrieve/pii/S0959804917309565' target='_blank') https://linkinghub.elsevier.com/retrieve/pii/S0959804917309565
					li Diehl V, Sieber M, Rüffer U, Lathan B, Hasenclever D, Pfreundschuh M, et al. BEACOPP: an intensified chemotherapy regimen in advanced Hodgkin’s disease. The German Hodgkin’s Lymphoma Study Group. Ann Oncol  Off J Eur Soc Med Oncol [Internet]. 1997 Feb;8(2):143–8. Available from:  
						a(href='http://www.ncbi.nlm.nih.gov/pubmed/9093722' target='_blank') http://www.ncbi.nlm.nih.gov/pubmed/9093722
					li Diehl V, Franklin J, Ph D, Pfreundschuh M, Lathan B, Paulus U, et al. Standard and Increased-Dose BEACOPP Chemotherapy Compared with COPP-ABVD for Advanced Hodgkin’s Disease. 2003;2386–95. 
					li Arakelyan N, Berthou C, Desablens B, de Guibert S, Delwail V, Moles M-P, et al. Early versus late intensification for patients with high-risk Hodgkin lymphoma-3 Cycles of intensive chemotherapy plus low-dose lymph node radiation therapy versus 4 cycles of combined doxorubicin, bleomycin, vinblastine, and dacarbazine plus myeloablativ. Cancer [Internet]. 2008 Dec 15;113(12):3323–30. Available from:   
						a(href='http://doi.wiley.com/10.1002/cncr.2397' target='_blank') http://doi.wiley.com/10.1002/cncr.23979
					li Engert A, Diehl V, Franklin J, Lohri A, Dörken B, Ludwig W-D, et al. Escalated-Dose BEACOPP in the Treatment of Patients With Advanced-Stage Hodgkin’s Lymphoma: 10 Years of Follow-Up of the GHSG HD9 Study. J Clin Oncol [Internet]. 2009 Sep 20;27(27):4548–54. Available from:  
						a(href='http://ascopubs.org/doi/10.1200/JCO.2008.19.8820' target='_blank') http://ascopubs.org/doi/10.1200/JCO.2008.19.8820
					li Borchmann P, Haverkamp H, Diehl V, Cerny T, Markova J, Ho AD, et al. Eight cycles of escalated-dose BEACOPP compared with four cycles of escalated-dose BEACOPP followed by four cycles of baseline-dose BEACOPP with or without radiotherapy in patients with advanced-stage hodgkin’s lymphoma: Final analysis of the HD12 trial o. J Clin Oncol. 2011;29(32):4234–42. 
					li Chisesi T, Bellei M, Luminari S, Montanini A, Marcheselli L, Levis A, et al. Long-term follow-up analysis of HD9601 trial comparing ABVD versus Stanford V versus MOPP/EBV/CAD in patients with newly diagnosed advanced-stage Hodgkin’s lymphoma: a study from the Intergruppo Italiano Linfomi. J Clin Oncol. 2011 Nov;29(32):4227–33. 
					li Gordon LI, Hong F, Fisher RI, Bartlett NL, Connors JM, Gascoyne RD, et al. Randomized phase III trial of ABVD versus Stanford V with or without radiation therapy in locally extensive and advanced-stage Hodgkin lymphoma: an intergroup study coordinated by the Eastern Cooperative Oncology Group (E2496). J Clin Oncol. 2013 Feb;31(6):684–91. 
					li Mounier N, Brice P, Bologna S, Briere J, Gaillard I, Heczko M, et al. ABVD (8 cycles) versus BEACOPP (4 escalated cycles ≥4 baseline): final results in stage III–IV low-risk Hodgkin lymphoma (IPS 0–2) of the LYSA H34 randomized trial†. Ann Oncol [Internet]. 2014 Aug;25(8):1622–8. Available from:  
						a(href='https://academic.oup.com/annonc/article-lookup/doi/10.1093/annonc/mdu189' target='_blank') https://academic.oup.com/annonc/article-lookup/doi/10.1093/annonc/mdu189
					li Carde P, Karrasch M, Fortpied C, Brice P, Khaled H, Casasnovas O, et al. Eight Cycles of ABVD Versus Four Cycles of BEACOPP escalated Plus Four Cycles of BEACOPP baseline in Stage III to IV, International Prognostic Score ≥ 3, High-Risk Hodgkin Lymphoma: First Results of the Phase III EORTC 20012 Intergroup Trial. J Clin Oncol [Internet]. 2016 Jun 10;34(17):2028–36. Available from:   
						a(href='http://ascopubs.org/doi/10.1200/JCO.2015.64.5648' target='_blank') http://ascopubs.org/doi/10.1200/JCO.2015.64.5648
					li Blank O, von Tresckow B, Monsef I, Specht L, Engert A, Skoetz N. Chemotherapy alone versus chemotherapy plus radiotherapy for adults with early stage Hodgkin lymphoma. Cochrane Database Syst Rev [Internet]. 2017 Apr 27;(4). Available from:  
						a(href='http://doi.wiley.com/10.1002/14651858.CD007110.pub3' target='_blank') http://doi.wiley.com/10.1002/14651858.CD007110.pub3
					li Bröckelmann PJ, Eichenauer DA, Jakob T, Follmann M, Engert A, Skoetz N. Clinical practice guideline: Hodgkin lymphoma in adults. Dtsch Aerzteblatt Online [Internet]. 2018 Aug 6; Available from:  
						a(href='https://www.aerzteblatt.de/10.3238/arztebl.2018.0535' target='_blank') https://www.aerzteblatt.de/10.3238/arztebl.2018.0535
					li Hoppe RT, Advani RH, Ai WZ, Ambinder RF, Aoun P, Armand P, et al. NCCN Guidelines Insights: Hodgkin Lymphoma, Version 1.2018. J Natl Compr Cancer Netw [Internet]. 2018 Mar;16(3):245–54. Available from:   
						a(href='http://www.jnccn.org/lookup/doi/10.6004/jnccn.2018.0013' target='_blank') http://www.jnccn.org/lookup/doi/10.6004/jnccn.2018.0013
					li Engert A, Haverkamp H, Kobe C, Markova J, Renner C, Ho A, et al. Reduced-intensity chemotherapy and PET-guided radiotherapy in patients with advanced stage Hodgkin’s lymphoma (HD15 trial): a randomised, open-label, phase 3 non-inferiority trial. Lancet [Internet]. 2012 May;379(9828):1791–9. Available from:   
						a(href='https://linkinghub.elsevier.com/retrieve/pii/S0140673611619405' target='_blank') https://linkinghub.elsevier.com/retrieve/pii/S0140673611619405
					li Johnson P, Federico M, Kirkwood A, Fosså A, Berkahn L, Carella A, et al. Adapted Treatment Guided by Interim PET-CT Scan in Advanced Hodgkin’s Lymphoma. N Engl J Med [Internet]. 2016 Jun 23;374(25):2419–29. Available from:   
						a(href='http://www.nejm.org/doi/10.1056/NEJMoa1510093' target='_blank') http://www.nejm.org/doi/10.1056/NEJMoa1510093
					li Press OW, Li H, Schöder H, Straus DJ, Moskowitz CH, LeBlanc M, et al. US Intergroup Trial of Response-Adapted Therapy for Stage III to IV Hodgkin Lymphoma Using Early Interim Fluorodeoxyglucose–Positron Emission Tomography Imaging: Southwest Oncology Group S0816. J Clin Oncol [Internet]. 2016 Jun 10;34(17):2020–7. Available from:   
						a(href='http://ascopubs.org/doi/10.1200/JCO.2015.63.1119' target='_blank') http://ascopubs.org/doi/10.1200/JCO.2015.63.1119
					li Casasnovas R-O, Bouabdallah R, Brice P, Lazarovici J, Ghesquieres H, Stamatoullas A, et al. PET-adapted treatment for newly diagnosed advanced Hodgkin lymphoma (AHL2011): a randomised, multicentre, non-inferiority, phase 3 study. Lancet Oncol [Internet]. 2019 Feb;20(2):202–15. Available from:   
						a(href='https://linkinghub.elsevier.com/retrieve/pii/S1470204518307848' target='_blank') https://linkinghub.elsevier.com/retrieve/pii/S1470204518307848
					li Younes A, Connors JM, Park SI, Fanale M, O’Meara MM, Hunder NN, et al. Brentuximab vedotin combined with ABVD or AVD for patients with newly diagnosed Hodgkin’s lymphoma: a phase 1, open-label, dose-escalation study. Lancet Oncol [Internet]. 2013 Dec [cited 2014 Feb 26];14(13):1348–56. Available from:  
						a(href='http://www.ncbi.nlm.nih.gov/pubmed/24239220' target='_blank') http://www.ncbi.nlm.nih.gov/pubmed/24239220
					li Eichenauer DA, Plütschow A, Kreissl S, Sökler M, Hellmuth JC, Meissner J, et al. Incorporation of brentuximab vedotin into first-line treatment of advanced classical Hodgkin’s lymphoma: final analysis of a phase 2 randomised trial by the German Hodgkin Study Group. Lancet Oncol [Internet]. 2017 Dec;18(12):1680–7. Available from:   
						a(href='https://linkinghub.elsevier.com/retrieve/pii/S1470204517306964' target='_blank') https://linkinghub.elsevier.com/retrieve/pii/S1470204517306964
					li Garcia-Sanz R, Sureda A, de la Cruz F, Canales M, Gonzalez AP, Pinana JL, et al. Brentuximab vedotin and ESHAP is highly effective as second-line therapy for Hodgkin lymphoma patients (long-term results of a trial by the Spanish GELTAMO Group). Ann Oncol [Internet]. 2019 Jan 18; Available from:   
						a(href='https://academic.oup.com/annonc/advance-article/doi/10.1093/annonc/mdz009/5292184' target='_blank') https://academic.oup.com/annonc/advance-article/doi/10.1093/annonc/mdz009/5292184
					li Moskowitz CH, Nademanee A, Masszi T, Agura E, Holowiecki J, Abidi MH, et al. Brentuximab vedotin as consolidation therapy after autologous stem-cell transplantation in patients with Hodgkin’s lymphoma at risk of relapse or progression (AETHERA): a randomised, double-blind, placebo-controlled, phase 3 trial. Lancet [Internet]. 2015 May;385(9980):1853–62. Available from:   
						a(href='http://dx.doi.org/10.1016/S0140-6736(15)60165-9' target='_blank') http://dx.doi.org/10.1016/S0140-6736(15)60165-9
					li Strati P, Fanale MA, Oki Y, Turturro F, Fayad LE, Bartlett NL, et al. ABVD plus rituximab versus ABVD alone for advanced stage, high-risk classical Hodgkin lymphoma: a randomized phase 2 study. Haematologica [Internet]. 2019 Feb;104(2):e65–7. Available from:   
						a(href='http://www.haematologica.org/lookup/doi/10.3324/haematol.2018.199844' target='_blank') http://www.haematologica.org/lookup/doi/10.3324/haematol.2018.199844
					li Ansell SM, Lesokhin AM, Borrello I, Halwani A, Scott EC, Gutierrez M, et al. PD-1 Blockade with Nivolumab in Relapsed or Refractory Hodgkin’s Lymphoma. N Engl J Med [Internet]. 2015 Jan 22;372(4):311–9. Available from:   
						a(href='http://www.nejm.org/doi/10.1056/NEJMoa1411087' target='_blank') http://www.nejm.org/doi/10.1056/NEJMoa1411087
					li Younes A, Santoro A, Shipp M, Zinzani PL, Timmerman JM, Ansell S, et al. Nivolumab for classical Hodgkin’s lymphoma after failure of both autologous stem-cell transplantation and brentuximab vedotin: a multicentre, multicohort, single-arm phase 2 trial. Lancet Oncol [Internet]. 2016 Sep;17(9):1283–94. Available from:   
						a(href='http://dx.doi.org/10.1016/S1470-2045(16)30167-X' target='_blank') http://dx.doi.org/10.1016/S1470-2045(16)30167-X
					li Chen R, Zinzani PL, Fanale MA, Armand P, Johnson NA, Brice P, et al. Phase II Study of the Efficacy and Safety of Pembrolizumab for Relapsed/Refractory Classic Hodgkin Lymphoma. J Clin Oncol [Internet]. 2017 Jul;35(19):2125–32. Available from:   
						a(href='http://ascopubs.org/doi/10.1200/JCO.2016.72.1316' target='_blank') http://ascopubs.org/doi/10.1200/JCO.2016.72.1316
					li Zinzani PL, Santoro A, Chiti A, Lastoria S, Pinto A, Rigacci L, et al. Italian expert panel consensus statement on the optimal use of PD-1 blockade therapy in classical Hodgkin lymphoma. Leuk Lymphoma [Internet]. 2018 Oct 15;0(0):1–10. Available from:   
						a(href='https://doi.org/10.1080/10428194.2018.1519808' target='_blank') https://doi.org/10.1080/10428194.2018.1519808
					li Sehn LH, Donaldson J, Chhanabhai M, Fitzgerald C, Gill K, Klasa R, et al. Introduction of Combined CHOP Plus Rituximab Therapy Dramatically Improved Outcome of Diffuse Large B-Cell Lymphoma in British Columbia. J Clin Oncol [Internet]. 2005 Aug;23(22):5027–33. Available from:   
						a(href='http://ascopubs.org/doi/10.1200/JCO.2005.09.137' target='_blank') http://ascopubs.org/doi/10.1200/JCO.2005.09.137
					li Oluwasanjo A, Kartan S, Johnson W, Alpdogan O, Gru A, Mishra A, et al. Peripheral T-Cell Lymphoma, not Otherwise Specified (PTCL-NOS). In: Cancer Treatment and Research [Internet]. 2019. p. 83–98. Available from:   
						a(href='http://link.springer.com/10.1007/978-3-319-99716-2_4' target='_blank') http://link.springer.com/10.1007/978-3-319-99716-2_4
					li Armitage JO. The aggressive peripheral T-cell lymphomas: 2017. Am J Hematol [Internet]. 2017 Jul;92(7):706–15. Available from:   
						a(href='http://doi.wiley.com/10.1002/ajh.24791' target='_blank') http://doi.wiley.com/10.1002/ajh.24791
					li d’Amore F, Relander T, Lauritzsen GF, Jantunen E, Hagberg H, Anderson H, et al. Up-Front Autologous Stem-Cell Transplantation in Peripheral T-Cell Lymphoma: NLG-T-01. J Clin Oncol [Internet]. 2012 Sep;30(25):3093–9. Available from:   
						a(href='http://ascopubs.org/doi/10.1200/JCO.2011.40.2719' target='_blank') http://ascopubs.org/doi/10.1200/JCO.2011.40.2719
					li Gleeson M, Peckitt C, To YM, Edwards L, Oates J, Wotherspoon A, et al. CHOP versus GEM-P in previously untreated patients with peripheral T-cell lymphoma (CHEMO-T): a phase 2, multicentre, randomised, open-label trial. Lancet Haematol [Internet]. 2018 May;5(5):e190–200. Available from:   
						a(href='http://dx.doi.org/10.1016/S2352-3026(18)30039-5' target='_blank') http://dx.doi.org/10.1016/S2352-3026(18)30039-5
					li Horwitz S, O’Connor OA, Pro B, Illidge T, Fanale M, Advani R, et al. Brentuximab vedotin with chemotherapy for CD30-positive peripheral T-cell lymphoma (ECHELON-2): a global, double-blind, randomised, phase 3 trial. Lancet [Internet]. 2019 Jan;393(10168):229–40. Available from:   
						a(href='https://linkinghub.elsevier.com/retrieve/pii/S0140673618329842' target='_blank') https://linkinghub.elsevier.com/retrieve/pii/S0140673618329842
					li O’Connor OA, Pro B, Pinter-Brown L, Bartlett N, Popplewell L, Coiffier B, et al. Pralatrexate in Patients With Relapsed or Refractory Peripheral T-Cell Lymphoma: Results From the Pivotal PROPEL Study. J Clin Oncol [Internet]. 2011 Mar 20;29(9):1182–9. Available from:   
						a(href='http://ascopubs.org/doi/10.1200/JCO.2010.29.9024' target='_blank') http://ascopubs.org/doi/10.1200/JCO.2010.29.9024
					li Damaj G, Gressin R, Bouabdallah K, Cartron G, Choufi B, Gyan E, et al. Results From a Prospective, Open-Label, Phase II Trial of Bendamustine in Refractory or Relapsed T-Cell Lymphomas: The BENTLY Trial. J Clin Oncol [Internet]. 2013 Jan;31(1):104–10. Available from:   
						a(href='http://ascopubs.org/doi/10.1200/JCO.2012.43.7285' target='_blank') http://ascopubs.org/doi/10.1200/JCO.2012.43.7285
					li Hood, PharmD K, Shah, PharmD A. Belinostat for Relapsed or Refractory Peripheral T-Cell Lymphoma. J Adv Pract Oncol [Internet]. 2016 Mar 1;7(2):1659–64. Available from:   
						a(href='http://advancedpractitioner.com/issues/volume-7,-number-2-%28mar-2016%29/belinostat-for-relapsed-or-refractory-peripheral-t-cell-lymphoma.aspx' target='_blank') http://advancedpractitioner.com/issues/volume-7,-number-2-%28mar-2016%29/belinostat-for-relapsed-or-refractory-peripheral-t-cell-lymphoma.aspx
					li Iyer SP, Foss FF. Romidepsin for the Treatment of Peripheral T-Cell Lymphoma. Oncologist [Internet]. 2015 Sep 1;20(9):1084–91. Available from:   
						a(href='http://www.ncbi.nlm.nih.gov/pubmed/26413372%0Ahttp://www.pubmedcentral.nih.gov/articlerender.fcgi?artid=PMC4577031' target='_blank') http://www.ncbi.nlm.nih.gov/pubmed/26413372%0Ahttp://www.pubmedcentral.nih.gov/articlerender.fcgi?artid=PMC4577031
					li O’Connor OA, Özcan M, Jacobsen ED, Roncero JM, Trotman J, Demeter J, et al. Randomized Phase III Study of Alisertib or Investigator’s Choice (Selected Single Agent) in Patients With Relapsed or Refractory Peripheral T-Cell Lymphoma. J Clin Oncol [Internet]. 2019 Feb;(2011):JCO.18.00899. Available from:   
						a(href='http://ascopubs.org/doi/10.1200/JCO.18.00899' target='_blank') http://ascopubs.org/doi/10.1200/JCO.18.00899
					li Trautinger F, Eder J, Assaf C, Bagot M, Cozzio A, Dummer R, et al. European Organisation for Research and Treatment of Cancer consensus recommendations for the treatment of mycosis fungoides/Sézary syndrome – Update 2017. Eur J Cancer [Internet]. 2017 May;77:57–74. Available from:   
						a(href='https://linkinghub.elsevier.com/retrieve/pii/S0959804917307931' target='_blank') https://linkinghub.elsevier.com/retrieve/pii/S0959804917307931
					li Kim YH, Tavallaee M, Sundram U, Salva KA, Wood GS, Li S, et al. Phase II Investigator-Initiated Study of Brentuximab Vedotin in Mycosis Fungoides and Sézary Syndrome With Variable CD30 Expression Level: A Multi-Institution Collaborative Project. J Clin Oncol [Internet]. 2015 Nov 10;33(32):3750–8. Available from:   
						a(href='http://ascopubs.org/doi/10.1200/JCO.2014.60.3969' target='_blank') http://ascopubs.org/doi/10.1200/JCO.2014.60.3969
					li Duvic M, Tetzlaff MT, Gangar P, Clos AL, Sui D, Talpur R. Results of a Phase II Trial of Brentuximab Vedotin for CD30 + Cutaneous T-Cell Lymphoma and Lymphomatoid Papulosis. J Clin Oncol [Internet]. 2015 Nov 10;33(32):3759–65. Available from:   
						a(href='http://ascopubs.org/doi/10.1200/JCO.2014.60.3787' target='_blank') http://ascopubs.org/doi/10.1200/JCO.2014.60.3787
					li Prince HM, Kim YH, Horwitz SM, Dummer R, Scarisbrick J, Quaglino P, et al. Brentuximab vedotin or physician’s choice in CD30-positive cutaneous T-cell lymphoma (ALCANZA): an international, open-label, randomised, phase 3, multicentre trial. Lancet [Internet]. 2017 Aug;390(10094):555–66. Available from:   
						a(href='https://linkinghub.elsevier.com/retrieve/pii/S0140673617312667' target='_blank') https://linkinghub.elsevier.com/retrieve/pii/S0140673617312667
					li Lewis DJ, Kim YH, Duvic M. Alternate dosing regimens of brentuximab vedotin for CD30+ cutaneous T-cell lymphoma. Br J Dermatol [Internet]. 2018 Jan;178(1):302–3. Available from:   
						a(href='http://doi.wiley.com/10.1111/ijlh.12426' target='_blank') http://doi.wiley.com/10.1111/ijlh.12426
					li Foss F, Horwitz SM, Coiffier B, Bartlett N, Popplewell L, Pro B, et al. Pralatrexate Is an Effective Treatment for Relapsed or Refractory Transformed Mycosis Fungoides: A Subgroup Efficacy Analysis From the PROPEL Study. Clin Lymphoma Myeloma Leuk [Internet]. 2012 Aug [cited 2014 Oct 18];12(4):238–43. Available from:   
						a(href='http://www.ncbi.nlm.nih.gov/pubmed/22542448' target='_blank') http://www.ncbi.nlm.nih.gov/pubmed/22542448
					li Horwitz SM, Kim YH, Foss F, Zain JM, Myskowski PL, Lechowicz MJ, et al. Identification of an active, well-tolerated dose of pralatrexate in patients with relapsed or refractory cutaneous T-cell lymphoma. Blood [Internet]. 2012 May 3 [cited 2014 Oct 18];119(18):4115–22. Available from:   
						a(href='http://www.ncbi.nlm.nih.gov/pubmed/22394596' target='_blank') http://www.ncbi.nlm.nih.gov/pubmed/22394596
					li Talpur R, Thompson A, Gangar P, Duvic M. Pralatrexate Alone or in Combination With Bexarotene: Long-Term Tolerability in Relapsed/Refractory Mycosis Fungoides. Clin Lymphoma Myeloma Leuk [Internet]. 2014 Aug [cited 2014 Oct 18];14(4):297–304. Available from:   
						a(href='http://www.ncbi.nlm.nih.gov/pubmed/24589156' target='_blank') http://www.ncbi.nlm.nih.gov/pubmed/24589156
					li Nicolay JP, Felcht M, Schledzewski K, Goerdt S, Géraud C. Sézary syndrome: old enigmas, new targets. JDDG J der Dtsch Dermatologischen Gesellschaft [Internet]. 2016;14(3):256–64. Available from:   
						a(href='http://doi.wiley.com/10.1111/ddg.12900' target='_blank') http://doi.wiley.com/10.1111/ddg.12900
					li Willemze R, Cerroni L, Kempf W, Berti E, Facchetti F, Swerdlow SH, et al. The 2018 update of the WHO-EORTC classification for primary cutaneous lymphomas. Blood [Internet]. 2019;(1):blood-2018-11-881268. Available from:   
						a(href='http://www.bloodjournal.org/lookup/doi/10.1182/blood-2018-11-881268' target='_blank') http://www.bloodjournal.org/lookup/doi/10.1182/blood-2018-11-881268
					li Edelson R, Berger C, Gasparro F, Jegasothy B, Heald P, Wintroub B, et al. Treatment of Cutaneous T-Cell Lymphoma by Extracorporeal Photochemotherapy. N Engl J Med [Internet]. 1987 Feb 5;316(6):297–303. Available from:   
						a(href='http://www.nejm.org/doi/abs/10.1056/NEJM198702053160603' target='_blank') http://www.nejm.org/doi/abs/10.1056/NEJM198702053160603
					li Knobler R. Guidelines on the Use of Extracorporeal Photopheresis Publication of this supplement was supported by a grant from the European Dermatology Forum. J Eur Acad Dermatology Veneorology. 2014;28(Supp. 1):1–37. 
					li Alfred A, Taylor PC, Dignan F, El-Ghariani K, Griffin J, Gennery AR, et al. The role of extracorporeal photopheresis in the management of cutaneous T-cell lymphoma, graft-versus-host disease and organ transplant rejection: a consensus statement update from the UK Photopheresis Society. Br J Haematol [Internet]. 2017 Apr;177(2):287–310. Available from:   
						a(href='http://doi.wiley.com/10.1111/bjh.14537' target='_blank') http://doi.wiley.com/10.1111/bjh.14537
								
				
				//- Progreso modulo
				+progreso-modulo('progreso100')
						
				
	//- Material modulo
	+material-modulo('material-mod-6')
							
	//- footer section			
	+footer-interno
	
	//- codigo section			
	+codigo-modulo-6
	
	//- pagination
	+paginador('https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=295778', 'available', 'Anterior', '#', 'disabled', 'Siguiente')
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			