include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulo 1
				+banner
			
				//- menu
				+menu
				
				//- titulo
				+titulo-modulo-2
				
				h3 1. Epidemiología
				
				p El MM es una enfermedad heterogénea e incurable que da cuenta del 1% de todos los cánceres y del 10% de todas las neoplasias hematológicas. Datos de estudios recientes que han comparado esta enfermedad con otras neoplasias hematológicas en pacientes menores de 50 años, dan cuenta de la incurabilidad, teniendo en cuenta las excelentes supervivencias en pacientes con linfoma de Hodgkin o Linfoma B difuso de célula grande mientras que la tendencia en los pacientes con MM es a continuar recayendo al igual que lo hacen los pacientes con diagnóstico de linfoma folicular.

				p Tiene una incidencia en general de 4.5 a 6 por 100.000 habitantes/año que parece permanecer estable. La incidencia en Europa es de 4.5 a 6.0 por 100.000 habitantes/año que es mayor (dos a tres veces más en afrodescendientes) con una mediana de edad al diagnóstico de 72 años. La mortalidad es 4.1 por 100.000 habitantes año. Se sabe que virtualmente todos los pacientes evolucionan desde un estado pre maligno conocido como gammapatía monoclonal de significado incierto estado el cual tiene una tasa de progresión a mieloma múltiple de 1% por año. Algunos pacientes pueden pasar por una fase intermedia llamada MM asintomático que tiene una tasa de progresión de 10% por año en los 5 primeros años y 3% después de los 5 años siguientes y 1.5% por cada año ulterior. 
				
				//- Progreso modulo
				+progreso-modulo('progreso10')
						
				
	//- Material modulo
	+material-modulo('material-mod-2')
							
	//- footer section			
	+footer-interno
	
	//- codigo section			
	+codigo-modulo-2
	
	//- pagination
	+paginador('#', 'disabled', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=291961', 'available', 'Siguiente')
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			