include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulo 1
				+banner
			
				//- menu
				+menu
				
				//- titulo
				+titulo-modulo-3-1
				
				h3 Tratamiento de primera línea del Mieloma múltiple 
				
				p Muchos años han pasado desde el caso de Sarah Newbury, sin embargo, el tratamiento del MM ha cambiado dramáticamente durante los últimos años diez años gracias a la aparición de nuevos medicamentos que definitivamente han mejorado la respuesta al tratamiento, la supervivencia libre de progresión y la supervivencia global. 

				p En la mayoría de países en desarrollo estas nuevas tecnologías anti-MM no están disponibles o tienen aprobación para etapas tardías de la enfermedad en donde su efectividad se ve reducida, sin embargo, en Colombia contamos con la mayoría de medicamentos disponibles en la actualidad. 

				p El MM sigue siendo una enfermedad incurable.  Como se revisó ya en los aspectos históricos, la supervivencia ha mejorado a través del tiempo debido al uso de medicamentos cada vez más efectivos y seguros pero la tendencia en la mayoría de pacientes es a recaer. 

				p Actualmente se considera que dos principios fundamentales han cambiado la historia del mieloma múltiple en los últimos años:
				
				ul
					li Tratamiento con tripletas en la inducción de la remisión
					li Tratamiento de mantenimiento post trasplante o el tratamiento continuo sin trasplante en los pacientes no elegibles. 
					
				p Con esta aproximación la mediana de supervivencia global de estos pacientes ha llegado a ser hasta de 10 años para pacientes de bajo riesgo, pero los pacientes de alto riesgo siguen teniendo un pronóstico desfavorable a pesar de este enfoque. Nos referimos a los pacientes clasificados como ultra alto riesgo y/o MM doble hit. 

				p Han sido 6 los medicamentos nuevos se han desarrollado en los últimos años en el tratamiento del MM recientemente diagnosticado, así como el escenario de refractariedad y/o recaída. Estos medicamentos sin la Pomalidomida, el Carfilzomib, Daratumumab, Panobinostat, Elotuzumab y el Ixazomib. 

				p Debido a la efectividad del trasplante y la importante diferencia en cuanto a supervivencia de los pacientes sometidos a altas dosis de quimioterapia el primer paso fundamental es determinar la elegibilidad de determinado paciente para ser trasplantado. 

				p Cuando se compara con la quimioterapia sola, el trasplante autólogo de MO parece prolongar la supervivencia libre de evento y la supervivencia global. Es importante determinar la elegibilidad para limitar la exposición a medicamentos que puedan deteriorar la colecta de progenitores hematopoyéticos. Una minoría de pacientes podrían ser elegibles para trasplante alogénico sin embargo esta estrategia permanece investigacional y controversial, aunque puede ser una alternativa de curación. 

				p La elegibilidad al trasplante varía entre países e inclusive entre instituciones. En Europa el trasplante únicamente es ofrecido a pacientes menores de 65 años en contraste con Estados Unidos donde la edad no es una limitación. En este país el trasplante no es ofrecido a pacientes mayores de 77 años, cirrosis hepática avanzada, ECOG de 3 o 4 y clase funcional de NYHA de III o IV. El deterioro de la función renal no es contraindicación absoluta para llevar a cabo un trasplante, esto debe individualizarse. 

				p Cuando exista duda de que un paciente sea elegible para trasplante recomendamos realizar de forma detallada la valoración geriátrica integral o la utilización del índice de comorbilidad en MM (MMCI).
				
				h3 1. Terapia de inducción 
				
				p Todos los pacientes con diagnóstico de MM deberían ingresar a un ensayo clínico y todos deberían tener la estratificación del riesgo citogenético dadas las características de la enfermedad sin embargo no todos los centros cuentan con esta posibilidad. 
				
				p No hay un régimen de inducción que se prefiera sobre el otro y los expertos usan diferentes regímenes. La duración de la inducción depende del régimen usado y si el paciente procederá o no al trasplante.
				
				p En general se considera que una línea de tratamiento corresponde a la terapia de inducción, colecta de progenitores, trasplante sea uno o en tándem y mantenimiento para los pacientes elegibles y para los pacientes no elegibles inducción y mantenimiento.
				
				table.table.table-striped
					caption Gráfico 1. Línea de tratamiento en Mieloma Múltiple.
					//-thead
					//-	tr
					//-		th Spicy jalapeno
					tbody
						tr
							td(rowspan="4") Pacientes elegibles a trasplante
							td(rowspan="4") Inducción
							td(rowspan="4") Colecta de progenitores 
							td Auto TPH1
							td Auto TPH2
							td Mantenimiento
							td(rowspan="4") Rescate
						tr
							td(colspan="2") Auto TPH
							td Observación
						tr
							td Mantenimiento
							td(rowspan="2") Auto TPH
							td Mantenimiento
						tr
							td Observación
							td Observación
						tr
							td(rowspan="2") Pacientes no elegibles a trasplante
							td(rowspan="2") Inducción
							td(colspan="4") Mantenimiento
							td(rowspan="2") Rescate 
						tr
							td(colspan="4") Observación
							
				p Una nueva línea de tratamiento inicia cuando se modifica el curso planeado para incluir otro agente (solo o en combinación) por progresión primaria, recaída o toxicidad inaceptable o cuando hay necesidad de un nuevo tratamiento luego de observación.
				
				//- Progreso modulo
				+progreso-modulo('progreso30')
						
				
	//- Material modulo
	+material-modulo('material-mod-3')
							
	//- footer section			
	+footer-interno
	
	//- codigo section			
	+codigo-modulo-3
	
	//- pagination
	+paginador('https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=294121', 'available', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=294123', 'available', 'Siguiente')
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			