<!-- ================== script ================== -->
<script src="../../Menu/menu.js" type="text/javascript"></script>
<script src="../../Menu/timeit.js"></script>
<script src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/EPOC-astrazeneca/Menu/menu.js" type="text/javascript"></script>
<script src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/EPOC-astrazeneca/Menu/timeit.js" type="text/javascript"></script>
<!-- ================== fin script ================== -->

<script src="jquery.min.js"></script>
<script src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/EPOC-astrazeneca/iframe-code/set-iframe-height-child.js"></script>

<script type="text/javascript">$(document).ready(function() {$("#single_1").fancybox({helpers: {title : {type : 'float'}}	});});</script>

<script type="text/javascript">$(".menu-toggle").click(function() {$("nav > ul").slideToggle( "700");$("nav > ul").css('display','flex');});</script>

<!-- ================== script animate scroll ================== -->
<script type="text/javascript">new WOW().init();</script>
<!-- ================== fin script animate scroll ================== -->


<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>