include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulo 1
				+banner
			
				//- menu
				+menu
				
				//- titulo
				+titulo-modulo-5
				
				h3 1. Introducción
				
				p Los linfomas son tumores originados en células del sistema inmune. La diversidad en cuanto al tipo de células que pertenecen a este sistema se refleja en el número cada vez mayor de entidades independientes reconocidas por la clasificación de la Organización Mundial de la Salud (OMS). Excluyendo las neoplasias originadas en células precursoras tanto de linaje mieloide como linfoide y las entidades provisionales, se reconocen actualmente 48 neoplasias originadas en células B; 28 originadas en células T; cinco subtipos de Linfoma Hodgkin y dos grupos independientes que son los desórdenes linfoproliferativos asociados a inmunodeficiencia y las neoplasias de células dendríticas / histiocíticas (1). Aunque las características histológicas de cada una de estas entidades son distintas, existen algunos principios generales que pueden ser aplicados a todas y que incluyen la necesidad de tener tejido suficiente para realizar diferentes técnicas; de forma que el diagnóstico se base en una aproximación multimodal que incluya pruebas histológicas, inmunohistoquímica, citogenética, genética molecular e incluso secuenciación de nueva generación. En este módulo se presentan los aspectos de diagnóstico y estadificación del linfoma Hodgkin, los linfomas de células T periféricas y los principales subtipos de linfoma cutáneo de células T.
				
				//- Progreso modulo
				+progreso-modulo('progreso20')
						
				
	//- Material modulo
	+material-modulo('material-mod-5')
							
	//- footer section			
	+footer-interno
	
	//- codigo section			
	+codigo-modulo-5
	
	//- pagination
	+paginador('#', 'disabled', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=294386', 'available', 'Siguiente')
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			