include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulo 1
				+banner
			
				//- menu
				+menu
				
				//- titulo
				+titulo-modulo-2
				
				h3 3. Diagnóstico de Mieloma Múltiple
				
				p El mieloma múltiple puede ser clasificado de forma global entre las neoplasias de células plasmáticas y gammapatías monoclonales donde comparte grupo con la gammapatía monoclonal de significado incierto, gammapatía monoclonal de significancia renal, síndrome de POEMS, plasmocitoma solitario de hueso, plasmocitoma extramedular, leucemia de células plasmáticas, linfoma linfoplasmocítico/macroglobulinemia de Waldestrom, mieloma múltiple asintomático y amiloidosis. 
				
				//- Progreso modulo
				+progreso-modulo('progreso30')
				
	//- Material modulo
	+material-modulo('material-mod-2')
							
	//- footer section			
	+footer-interno
	
	//- codigo section			
	+codigo-modulo-2
	
	//- pagination
	+paginador('https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=291961', 'available', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=291963', 'available', 'Siguiente')
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			