include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulo 1
				+banner
			
				//- menu
				+menu
				
				//- titulo
				+titulo-modulo-2
				
				h3 8. Diagnóstico diferencial
				
				div.accordion#accordion2
					div.accordion-group
						div.accordion-heading
							a.accordion-toggle(data-toggle='collapse' data-parent='#accordion2' href='#collapse1')
								span 1. Gammapatía monoclonal de significado incierto MGUS
						div#collapse1.accordion-body.collapse.in
							div.accordion-inner
								p Se caracteriza por tener proteína monoclonal menor de 3 g/dL, infiltración por células plasmáticas clonales en MO menor del 10% y ausencia de componente CRAB. 
								
					div.accordion-group
						div.accordion-heading
							a.accordion-toggle(data-toggle='collapse' data-parent='#accordion2' href='#collapse2')
								span 2. Mieloma múltiple asintomático
						div#collapse2.accordion-body.collapse.in
							div.accordion-inner
								p Tiene proteína monoclonal mayor a 3 g/dL y/o entre 10 y 60% de infiltración por plasmocitos clonales en MO y ausencia de componente u otros definitorios, y no amiloidosis.
								
					div.accordion-group
						div.accordion-heading
							a.accordion-toggle(data-toggle='collapse' data-parent='#accordion2' href='#collapse3')
								span 3. Macroglobulinemia de Waldestrom y MM IgM
						div#collapse3.accordion-body.collapse.in
							div.accordion-inner
								p Se caracterizan los dos por tener como componente monoclonal la IgM y puede ser difícil de distinguir uno del otro. El MM IgM es muy raro. El linfoma linfoplasmocítico usualmente no tiene expresión de CD56, se expresa Ig de superficie, así como CD19 y CD20. La translocación (11;14) no es vista en la macroglobulinemia de Waldestrom y esto puede servir al igual que la presencia de lesiones líticas en el MM.
								
					div.accordion-group
						div.accordion-heading
							a.accordion-toggle(data-toggle='collapse' data-parent='#accordion2' href='#collapse4')
								span 4. Plasmocitoma solitario
						div#collapse4.accordion-body.collapse.in
							div.accordion-inner
								p Puede ser de hueso o extramedular. Requiere biopsia de la lesión solitaria que demuestre infiltración plasmocitaria, MO normal, no otras lesiones de hueso a excepción de la lesión única y ausencia de CRAB o criterios definitorios. Pueden tener mínimo compromiso medular (&lt;10%) o un Durie-Salmon etapa 1 con mas del 10%.
								
					div.accordion-group
						div.accordion-heading
							a.accordion-toggle(data-toggle='collapse' data-parent='#accordion2' href='#collapse5')
								span 5. Amiloidosis AL
						div#collapse5.accordion-body.collapse.in
							div.accordion-inner
								p Usualmente con menos de 20% de infiltración plasmocitaria en la MO, sin lesiones líticas y una modesta proteinuria de Bence Jones. En definitiva, se establece el diagnóstico con la clínica de síndrome nefrótico y la demostración de amiloide en una biopsia de tejido afectado como en grasa abdominal, MO, recto o riñón. Puede haber coexistencia de las dos entidades, aunque esto es muy raro. 
								
					div.accordion-group
						div.accordion-heading
							a.accordion-toggle(data-toggle='collapse' data-parent='#accordion2' href='#collapse6')
								span 6. Síndrome de POEMS
						div#collapse6.accordion-body.collapse.in
							div.accordion-inner
								p Acrónimo que significa Polineuropatía, organomegalia, endocrinopatía, proteína monoclonal y cambios en la piel (Skin changes).  Dentro de la endocrinopatía se debe excluir la diabetes y el hipotiroidismo. Se acompaña con alguna frecuencia de enfermedad de Castleman lo cual es criterio diagnóstico. Estos pacientes tienen típicamente en factor de crecimiento vascular endotelial VEGF elevado.
								
					div.accordion-group
						div.accordion-heading
							a.accordion-toggle(data-toggle='collapse' data-parent='#accordion2' href='#collapse7')
								span 7. Carcinoma metastásico
						div#collapse7.accordion-body.collapse.in
							div.accordion-inner
								p Pacientes que se presentan con lesiones líticas, síntomas constitucionales, un pequeño componente M y menos de 10% de infiltración por células plasmáticas es más probable que tengan un carcinoma metastásico con un MGUS más que un MM.
								
				
				//- Progreso modulo
				+progreso-modulo('progreso90')
				
	//- Material modulo
	+material-modulo('material-mod-2')
							
	//- footer section			
	+footer-interno
	
	//- codigo section			
	+codigo-modulo-2
	
	//- pagination
	+paginador('https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=291966', 'available', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=291968', 'available', 'Siguiente')
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			