include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulo 1
				+banner
			
				//- menu
				+menu
				
				//- titulo
				+titulo-modulo-7
				
				h3 El error en epidemiología
				
				div.banner-video.wow.fadeInUp
					div.span12
						div#video
							div.embed-container
								iframe(src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/EPOC-astrazeneca/pdf/mod7/Lectura-3.pdf" frameborder="0" allowfullscreen)
				
				
				
				
				
				
				
				
				

				
						
				
	//- Material modulo
	+material-modulo('material-mod-7')
							
	//- footer section			
	+footer-interno
	
	//- codigo section			
	//- +codigo-modulo-7
	
	//- pagination
	+paginador('https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=310543', 'available', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=310545', 'available', 'Siguiente')
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			