include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulo 1
				+banner
			
				//- menu
				+menu
			
				h2 Diplomado / <span>Mieloma-Linfoma: “Retos en diagnóstico y terapias novedosas”</span>
				
				h3 Apreciados participantes del Diplomado.
				
				p Desde la Facultad de Medicina y la División de Educación Continuada, de la Universidad El Bosque, en Asocio con Laboratorios Takeda, les damos la más grata bienvenida al DIPLOMADO LINFOMA – MIELOMA: RETOS EN DIAGNÓSTICO Y TERAPIAS NOVEDOSAS. El diplomado dará inicio el próximo 22 de abril y terminará el 27 de agosto de 2019.
				p Hemos trabajado intensamente con un equipo de expertos de la más amplia experiencia, y gran reconocimiento, que responden a las exigencias de los Programas Acreditados de Alta Calidad de la Universidad El Bosque y de su Facultad de Medicina.
				p Logramos integrar un equipo interdisciplinario que hace posible la realización del diplomado virtual, facilitando la posibilidad de impactar a un grupo muy selecto de médicos hematólogos y residentes en hematología de distintas ciudades y regiones del país.
				p El objetivo es desarrollar un diplomado virtual que les permita actualizar el conocimiento y les brinde las herramientas para desempeñar de mejor manera su trabajo, contribuyendo al mejoramiento de la Salud y Calidad de vida de sus pacientes, propósito que se alinea a la perfección con la orientación estratégica de la Universidad El Bosque.
				p Durante estos meses tendrán acceso a la literatura científica más actualizada, podrán interactuar con expertos y colegas en las sesiones virtuales sincrónicas compartiendo puntos de vista, aportando desde su experiencia y lo más importante, entre todos, generando y actualizando el conocimiento. A través del diplomado también podrán realizar diferentes actividades y hacer exámenes para verificar su aprendizaje.
				p El programa se desarrollará desde la plataforma Moodle versión 4.0, la cual les brinda la posibilidad de aprender en un mundo virtual, el cual los invito explorar.
				p Desde la Universidad El Bosque queremos que tengan una experiencia gratificante y de gran aprendizaje.
				p Nuevamente ¡Bienvenidos!
				p Cordialmente,
				
				h3 María del Rosario Bozón G.
				h3 Directora Educación Continuada
				h3 Universidad El Bosque 
							
	//- footer section			
	+footer-interno
	
	//- codigo section	
	+codigo-modulo-0
	
	//- pagination
	+paginador('#', 'disabled', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=292951', 'available', 'Siguiente')
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			