include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulo 1
				+banner
			
				//- menu
				+menu
			
				h2 Diplomado / <span>Mieloma-Linfoma: “Retos en diagnóstico y terapias novedosas”</span>
				
				h3 Cronograma
				
				//- Table
				table.table.table-striped
					caption Curso virtual: Manejo del asma en atención primaria
					thead
						tr
							th Módulos
							th Actividades
							th Inicio
							th Cierre
					tbody
						tr
							td Módulo 0
							td(colspan='3') 16 de abril - 29 de Abril
						tr
							td(rowspan='2') Módulo 1
							td(colspan='3') 29 de Abril - 13 de Mayo
						tr
							td Evaluación
							td(colspan='2') 09 - 13 de Mayo
						tr
							td(rowspan='3') Módulo 2
							td(colspan='3') 13 de Mayo  - 27 de Mayo
						tr
							td Video Conferencia
							td(colspan='2') 23 de Mayo
						tr
							td Evaluación
							td(colspan='2') 24 - 27 de Mayo
						tr
							td(rowspan='4') Módulo 3
							td(colspan='3') 27 de mayo - 17 de Junio
						tr
							td Caso clínico
							td(colspan='2') 06 de Junio - 13 de Junio
						tr
							td Video Conferencia
							td(colspan='2') 13 de junio
						tr
							td Evaluación
							td(colspan='2') 14 de junio - 17 de junio
						tr
							td(rowspan='2') Módulo 4
							td(colspan='3') 17 de junio - 01 de Julio
						tr
							td Evaluación
							td(colspan='2') 27 de junio - 01 de julio
						tr
							td(rowspan='3') Módulo 5
							td(colspan='3') 01 de Julio - 15 de Julio
						tr
							td Video Conferencia
							td(colspan='2') 11 de julio
						tr
							td Evaluación
							td(colspan='2') 12 de julio - 15 de julio
						tr
							td(rowspan='4') Módulo 6
							td(colspan='3') 15 de Julio - 05 de Agosto
						tr
							td Caso Clínico
							td(colspan='2') 25 de Julio - 01 de Agosto
						tr
							td Video Conferencia
							td(colspan='2') 01 de Agosto
						tr
							td Evaluación
							td(colspan='2') 02 de Agosto - 05 de Agosto
						tr
							td(rowspan='4') Módulo 7
							td(colspan='3') 05 de Agosto - 26 de Agosto
						tr
							td Caso Clínico
							td(colspan='2') 15 de agosto - 22 de agosto
						tr
							td Video Conferencia
							td(colspan='2') 22 de Agosto
						tr
							td Evaluación
							td(colspan='2') 23 de agosto - 26 de agosto
						tr
							td(colspan='2') Certificación
							td(colspan='2') 28 - 31 de Agosto
						tr
							td(colspan='4') Clausura
							
							
	//- footer section			
	+footer-interno
	
	//- pagination
	+paginador('https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=292952', 'available', 'Anterior', '#', 'disabled', 'Siguiente')
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			