include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulo 1
				+banner
			
				//- menu
				+menu
			
				h2 Diplomado / <span>Mieloma-Linfoma: “Retos en diagnóstico y terapias novedosas”</span>
				
				h3 Cronograma
				
				//- Table
				table.table.table-striped
					thead
						tr
							th Módulos
							th Actividades
							th Inicio
							th Cierre
					tbody
						tr
							td Módulo 0
							td(colspan='3') 16 de abril - 29 de Abril
						tr
							td(rowspan='2') Módulo 1
							td(colspan='3') 29 de Abril - 13 de Mayo
						tr
							td Evaluación
							td(colspan='2') 09 - 13 de Mayo
						tr
							td(rowspan='3') Módulo 2
							td(colspan='3') 13 de Mayo  - 10 de Junio
						tr
							td Video Conferencia
							td(colspan='2') 06 de Junio
						tr
							td Evaluación
							td(colspan='2') 06 de Junio
						tr
							td(rowspan='4') Módulo 3
							td(colspan='3') 10 de Junio - 01 de Julio
						tr
							td Caso clínico
							td(colspan='2') 20 de Junio - 27 de Junio
						tr
							td Video Conferencia
							td(colspan='2') 27 de Junio
						tr
							td Evaluación
							td(colspan='2') 28 de Junio - 01 de Julio
						tr
							td(rowspan='2') Módulo 4
							td(colspan='3') 01 de Julio - 15 de Julio
						tr
							td Evaluación
							td(colspan='2') 11 de Julio - 15 de julio
						tr
							td(rowspan='3') Módulo 5
							td(colspan='3') 15 de Julio - 29 de Julio
						tr
							td Video Conferencia
							td(colspan='2') 25 de Julio
						tr
							td Evaluación
							td(colspan='2') 26 de Julio - 29 de julio
						tr
							td(rowspan='4') Módulo 6
							td(colspan='3') 29 de Julio - 19 de Agosto
						tr
							td Caso Clínico
							td(colspan='2') 08 de Agosto - 15 de Agosto
						tr
							td Video Conferencia
							td(colspan='2') 15 de Agosto
						tr
							td Evaluación
							td(colspan='2') 16 de Agosto - 19 de Agosto
						tr
							td(rowspan='4') Módulo 7
							td(colspan='3') 19 de Agosto - 09 de Septiembre
						tr
							td Caso Clínico
							td(colspan='2') 29 de Agosto - 05 de Septiembre
						tr
							td Video Conferencia
							td(colspan='2') 05 de Septiembre
						tr
							td Evaluación
							td(colspan='2') 06 de Septiembre - 09 de Septiembre
						tr
							td(colspan='2') Certificación
							td(colspan='2') 09 de Septiembre - 16 de Septiembre
						tr
							td(colspan='4') Clausura
							
							
	//- footer section			
	+footer-interno
	
	//- pagination
	+paginador('https://ubosquemoodle.unbosque.edu.co/mod/page/view.php?id=292952', 'available', 'Anterior', '#', 'disabled', 'Siguiente')
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			